{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 align="center">Notes</h1>

<!-- Search Bar -->
<form method="GET" action="{{ url_for('views.home') }}">
    <input type="text" name="search" value="{{ search_query }}" placeholder="Search Notes" class="form-control">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br />
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    <p>{{ note.data }}</p>
    <small class="text-muted">
      {% if note.timestamp %}
        {{ note.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
      {% else %}
        No timestamp available
      {% endif %}
    </small>
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
